# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# OS files
.DS_Store
*.swp
*~

# Environment
.env
.env.*

# IDE
*.idea/
*.vscode/
